body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trafficTop {
  width: 20px;
  height: 80px;
  background: black;
  margin-bottom: 10px;
}

.container {
  background: #333;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  height: 60px;
  width: 60px;
  background: gray;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.glow {
  box-shadow: 0 0 30px 10px white;
}